.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner .rect {
  animation: rotateplane 1.2s infinite ease-in-out;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #25c2a0;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Dark mode */
html[data-theme='dark'] .spinner .rect {
  background-color: #21af90;
}